@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bangers&family=Changa+One:ital@0;1&family=Lexend+Giga:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    background-color: aliceblue;
    height: 100vh;
}
body {
  
  margin: 0;
}

.test{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 60px;
    color: rgb(74, 74, 74);
}

#hero{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar"
    "contact desc"
    "heroimg desc"
    "service service"
    "project project"
    ;
}
.one{
background-color: #6B9080;}

.two{
background-color: #A4C3B2;}

.three{
background-color: #CCE3DE;
color: rgb(172, 172, 172);}

.four{
background-color: #c2b3b2;
color: rgb(84, 84, 84);}

.five{
background-color: #7e7e7e;}

.six{
background-color: rgb(207, 207, 207);}