
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    margin: 20px;
}

table, th, td {
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;
  border-collapse: collapse;
}
table{
    background-color: yellow;
    
}
tr:hover{
    background-color: white;
}