html,body{
    background-color: yellow;
}


.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: yellow;

}

.goat{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;


}